Language: Cpp
BasedOnStyle : Microsoft
UseTab       : Never
TabWidth     : 4
IndentWidth  : 4
AccessModifierOffset: -4
ColumnLimit  : 100

AlignAfterOpenBracket: Align
# AlignConsecutiveAssignments: true
AlignEscapedNewlines: Left
AlignTrailingComments: true

AlwaysBreakTemplateDeclarations: true

AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine : false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Inline
AllowShortLoopsOnASingleLine: false

BreakConstructorInitializers: BeforeComma
BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: Never


IndentCaseLabels: false
FixNamespaceComments: true

# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left
